# Generated manuscript output files
output/*
!output/README.md

webpage/v

# When PDF building fails, a temporary symlink named images in the root
# directory is not removed.
/images

# Manubot cache directory
ci/cache

# Python
__pycache__/
*.pyc
